*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hind', sans-serif;
}

html{
	font-size: 62.5%;
}

body{
	margin: 0;
	font-size: 1.4rem;

}


/* common starts */


button{
	border:1px solid #fff;
	background: transparent;
	padding: 0 2rem;
	height: 4rem;
	color: #fff;
	border-radius: 4rem;
	font-size: 1.5rem;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

button:hover{
	background: #fff;
	color:rgba(65, 176, 191);
}


/* common ends */


/* main stars */








main{
	background: linear-gradient(
        to right bottom ,
		rgba(65, 176, 191, 0.9) , 
		rgba(65, 176, 191, 0.9)) , 
		
		url(../images/BG.png);
		background-position: center;
		
	height: 100vh;
	border-left: 3rem solid #fff;
	border-right: 3rem solid #fff;
	position: relative;
}

/* --- common main */

.common-main{
	height: 40vh;
}
/* ------ */

.center{
	max-width: 960px;
	margin: auto;
}

nav{
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

nav ul{
	display: flex;

}

nav ul li{
	list-style: none;
	margin-left: 5rem;

}

nav ul li a{
	font-size: 1.8rem;
	text-decoration: none;
	color: #f2f2f2;
	text-transform: uppercase;;
}

nav ul li a:hover{
	text-decoration: underline;
}

.name{
	position: absolute;
	top:60%;
	left:50%;
    transform: translate(-50%, -60%);
    color: #fff;
	  text-align: center;
	  width: 100%;
}

.name h1{
    font-size: 5rem;
	font-family: 'Indie Flower', cursive;
	letter-spacing: 0.1rem;
	font-weight: 400;
	
}

.name h3{
	font-size: 3rem;
	font-weight: 400;
	margin-top: 1.6rem;
}


.name h3 span{
	font-weight:700;
}

.name button{
	display: inline-block;
	margin-top: 10rem;
}



/* main ends */


/* about starts */

.about{
	margin-top: 5rem;
}

.about .center{
	display: flex;
	padding: 0 2rem;
}

.about .left-image{
	height: 30rem;
	width: 30%;
	border-radius: 100%;
	overflow: hidden;
}

.about .right-about{
	
	width: 60%;
	margin-left: 10rem;
}

.right-about h3{
	font-weight: 300;
	letter-spacing: 0.1rem;
	color: #3a3a3a;
	font-size: 4rem;
}

.right-about p{
	font-size: 1.8rem;
	color: #838383;	
	margin-top: 1rem;

}

.right-about p:last-child{
	margin-top: 2rem;
}

/* about ends */

/* blog starts */

.blog{
	background: #303030;
	padding-top: 5rem ;
	text-align: center;
	color: #fff;
	margin-top: 5rem;

}

.blog h3{
	font-size: 4rem;
	letter-spacing: 0.1rem;
	font-weight: 300;
}

.blog .outer-image{
	text-align: center;
	margin-top: 1rem;
}

.blog .outer-image img{
	width: 30rem;
	display: inline-block
	
}

.blog h5{
	font-size: 2.5rem;
	font-weight: 400;
	margin-top: 1rem;
}

.blog p{
	margin-top: 1rem;
}

.blog button{
	margin-top: 1rem;
}

.blog button:hover{
	color: #C23B3B;
}

.owl-prev, .owl-next{
	width:5rem;
	outline: 0;
}

.owl-carousel button span{
	font-size: 3rem;
}

.owl-prev:active span, .owl-next:active span{
	color: #C23B3B;
}


/* blog ends */


/* gallary starts */

.gallary{
	margin-top: 5rem;
	text-align: center;
}

.gallary h3{
	font-size: 4rem;
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #3a3a3a;
}

.gallary .photos{
	display: flex;
	margin-top: 5rem;
	flex-wrap: wrap;
	

}

.flip-card {
	background-color: transparent;
	width: 30%;
	height: 300px;
	perspective: 1000px;
	margin-right: 3rem;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  .flip-card-back {
	background-color: rgba(65, 176, 191, 0.9);
	color: white;
	transform: rotateY(180deg);
  }



/* gallary ends */


/* contact starts */


.contact{
	margin-top: 5rem;
	text-align: center;
}
.contact .center{
	padding: 0 0.2rem;
	
}

.contact h3{
	font-size: 4rem;
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #3a3a3a;
}

.contact p{
	color: #838383;
	font-size: 1.6rem;
}

form{
	margin-top: 3rem;
	text-align: left;
	
}

form label{
	display: inline-block;
	color:#838383;
	font-size: 2rem;
}

form textarea{
	width:100%;
	padding: 2rem;
	background: #ccc;
	/* margin-top: 1.6rem; */
}

form > div{
	text-align: center;
}

form button{
	background: rgba(65, 176, 191, 0.9);
}

form button:hover{
	background: #C23B3B;
	color: #fff;
}

/* contact ends */


/* footer starts */

.footer{
	text-align: center;
	margin-top: 3rem;
	background: rgba(65, 176, 191, 0.9);
}

.footer h3{
	height: 3rem;
	line-height: 3rem;
	font-size: 2rem;
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #fff;
}



/* footer ends */


@media(max-width:960px){
	.gallary .photos{
		flex-direction: column;
		align-items: center;
		
	}

	.flip-card{
		margin-bottom: 3rem;
		margin-left: 0;
		width:100%;
	}

	
	.flip-card-front{
		background-color: transparent ;

	}
}



@media(max-width:670px){

	/* nav starts */

	main{
		border: none;
		
	}
	nav {
		display: none;
	}

	/* nav ends */

	/* about starts */

	.about .center{
		flex-direction: column;
		text-align: center;
	}

	.about .left-image{
		/* width: 100%; */
		display: inline-block;
		width:100%;
		border-radius: 1rem;
	}

	.about .right-about{
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-top: 5rem;
	}


	/* about ends */
}